@charset "utf-8";

body{
    font-family: sans-serif;
    padding: 100px;
}

.header{
    text-align: center;
    height: 400px;
    padding: 80px;
    background-image: url(../images/p-fondos/among-us-horrifying-art.jpg); 
    background-size: cover;

}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: green 5px solid;
}

.user-name{
    font-size: 30px;
    margin-top: 14px;
    color:white;
    -webkit-text-stroke: 1px black;
}

.socials {
    list-style: none;
    text-align: center;
    padding: 0;
}

.socials li{
    display: inline-block;
    margin: 5px;
}





.register-box li{
    display: inline-block;
    margin: 5px;
}

.register-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.register-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box input[type="text"], .register-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.register-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.register-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.register-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.register-box a:hover {
  color: #fff;
}

form {
  width: 400px;
  height: 490px;
  background: #000b28;
  color: #fff;
  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
    opacity: 90%;
}